.form{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#Formdiv{
  display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid blue;
    border-radius: 2rem;
    margin: 0 2vw;
}
#form{
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textbox{
  width: 200px;
  height: 25px;
  margin: 5px;
  border-radius: 6px;
}
#submitbutton{
  align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}
#submitbutton:hover{
  background-color: rgb(168, 210, 247);
}
.panel{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#imgpanel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 0; */
  /* height: fit-content; */
  width: 60%;
  /* margin: auto; */
  border: 0.2rem solid black;
    border-radius: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
  }
  #imgdiv {
    width: 200px;
    height: 200px;
    overflow: hidden; /* Ensure images don't overflow the container */
    
    border: 2px black solid;
    border-radius: 2rem;
    /* padding: 0.6rem; */
    margin: 0.2vw 0.8vw;
  }


  .copy-button {
    background-color: #4caf50; /* Green background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    padding: 8px 16px; /* Add some padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 8px; /* Add some margin for spacing */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 4px; /* Add border-radius for rounded corners */
  }
  
  .copy-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }

  .imgclass {
    width: 100%;
    height: 90%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  }
  .capture-button{
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  /* Style for each Image Div */
  
  
  /* Style for each Image */
 

